{% extends "base.html" %}
{% block content %}

<div>WARNING: I would not recommend putting your real password into this demo. The demo exists so you can read the code and treat it as an example.</div><br>
<form action="/Send" method="POST">
  {{csrf-html|safe}}
  Username<br>
  <input name="username" type="text"> </input><br>
  Password<br>
  <input name="password" type="password"> </input><br>
  Account Ref<br>
  <input name="account"type="text"> </input><br>
  Destination Number<br>
  <input name="to" type="text"> </input><br>
  Message Body<br>
  <input name="body" type="text"> </input><br><br>
  <input type="submit" value="Send"></input>
</form>
{% endblock %}
